.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 0;
  background-color: white;
  color: var(--text-color);
  height: 70px;
  box-shadow: var(--shadow);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.nav {
  display: flex;
}

.navList {
  display: flex;
  list-style: none;
  padding-left: 50px;

  align-items: center;
}

.navItem {
  margin: 0 1rem;
  font-weight: 600;
}

.navLink {
  color: var(--text-color);
  transition: color 0.3s;
}

.navLink:hover {
  color: var(--primary-color);
}

.mobileMenuButton {
  display: none;
}

.menuIcon {
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  background-color: var(--text-color);
}

.menuIcon:before,
.menuIcon:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: var(--text-color);
  transition: all 0.3s;
}

.menuIcon:before {
  top: -8px;
}

.menuIcon:after {
  top: 8px;
}

.joinlist {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.join:first-child {
  margin: 0px 6px;
}

@media (max-width: 768px) {
  .mobileMenuButton {
    display: block;
    background: none;
    border: none;
  }

  .nav {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    background-color: var(--white);
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
    box-shadow: var(--shadow);
  }

  .nav.open {
    height: auto;
  }

  .navList {
    flex-direction: column;
    padding: 1rem;
  }

  .navItem {
    margin: 0.5rem 0;
  }
}
