%align-default {
  display: flex;
  justify-content: center;
  align-items: center;
}

%radius-default {
  border-radius: 8px;
}

/* 버튼 사이즈 */
.attach {
  width: 120px;
  height: 35px;
}

.nav {
  width: 84px;
  height: 45px;
}

.medium {
  width: 120px;
  height: 40px;
}

.wide {
  width: 184px;
  height: 40px;
}

.large {
  width: 260px;
  height: 40px;
}

.xlarge {
  width: 372px;
  height: 40px;
}

/* 컬러 타입 */
.A {
  @extend %radius-default;
  @extend %align-default;
  & span {
    color: var(--text);
  }
  background: var(--white);
  border: 1px solid var(--active);
}

.B {
  @extend %align-default;
  @extend %radius-default;
  & span {
    color: var(--white);
  }
  background: var(--active);
  border: none;
}

.C {
  @extend %radius-default;
  @extend %align-default;
  & span {
    color: var(--active);
  }
  background: var(--white);
  border: 1px solid var(--active);
}

