.footer {
    width: 1280px;
    height: 258px;
    background-color: var(--footer-bg);
    color: white;
    padding: 32px 32px 0 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .logoRow {
        display: flex;
        align-items: flex-end;
        gap: 8px;
        margin-top: 20px;
        margin-bottom: 14px;

        img {
            width: 46px;
            height: 46px;
        }

        span {
            font-size: 14px;
            font-weight: 600;
            align-self: flex-end;
        }
    }

    .logoImg {
        filter: brightness(0) saturate(100%);
    }

    .infoGrid {
        display: grid;
        grid-template-columns: max-content max-content;
        gap: 0 120px;
    }

    .infoItem {
        break-inside: avoid;
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 1.4;
        max-width: 240px;

        strong {
        margin-right: 8px;
        color: white;
        }
    }
}
