.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContainer {
  background-color: var(--white);
  border-radius: 12px;
  padding: 24px;
  margin: 30px 20px;
  width: 360px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalHeader {
  margin-bottom: 24px;
  text-align: center;
  padding-bottom: 16px;
}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: var(--title1);
}

.modalBody {
  margin-bottom: 32px;
  text-align: center;
  max-height: 80px;
  overflow-y: hidden; // 내용 많을 때 스크롤 허용

  &.hasScroll {
    overflow-y: auto; // 내용이 max-height를 넘을 때만 스크롤
  }
  
  p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;

    white-space: pre-wrap; // space 허용
  }

  /* 스크롤바 스타일링 - Webkit 브라우저용 (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }

/* Firefox용 스크롤바 스타일 */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.normalText {
  color: var(--text);
}

.emphasisText {
  color: var(--main);
  font-weight: 500;
}

.modalFooter {
  display: flex;
  justify-content: center;
  
  button {
    transition: background-color 0.2s, transform 0.1s;
    
    &:hover {
      background-color: var(--hover);

      span {
        color: var(--line);
      }

    }
    
    &:active {
      background-color: var(--active);
      transform: translateY(1px);

      span {
        color: var(--line);
      }

    }
  }
}

.twoButtons {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

/* 반응형 스타일 */
@media (max-width: 480px) {
  .modalContainer {
    width: 90%;
  }
}

// 정적 모드를 위한 스타일
.staticModal {
  position: static;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 420px;
  height: 252px;
}

// 디자인 페이지를 위한 스타일
.modalWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 24px;
}

.modalItem {
  padding: 24px;
  border: 1px dashed var(--subtext);
  border-radius: 8px;
  
  h3 {
    margin-bottom: 24px;
    text-align: center;
    color: var(--title1);
  }
}
