.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}

.sectionHeader {
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: var(--title1);
  margin: 0;
}

.sectionContent {
  width: 100%;
  padding-top: 60px;
}
